@import "@/app/__mixins.scss";
@import "@/app/__variables.scss";

.customers {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  width: 100%;
  max-width: 968px;
  margin: 51px 0px 0px 0px;
  padding: 30px 40px 40px 38px;
  @media (max-width: 480px) {
    margin: 21px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
  }
  // .customers__container

  &__container {
  }

  // .customers__table-block

  &__table-block {
  }
}
.customers-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 625px) {
    gap: 160px;
  }
  .customers-search-block {
    position: relative;
    @media (max-width: 480px) {
      width: 24px;
      height: 24px;
    }
  }
  .customers-search-button {
    background: transparent;
    position: absolute;
    margin-top: -12px;
    top: 50%;
    left: 8px;
    @media (max-width: 480px) {
      left: 0;
    }
  }
  .customers-search {
    width: 216px;
    @include font-title(12, 400);
    background: #f9fbff;
    border-radius: 10px;
    padding-left: 40px;
    height: 38px;
    &::placeholder {
      color: #b5b7c0;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .customers-menu {
    // .customers-menu__header

    &__header {
    }
  }
  .customers-header {
    // .customers-header__title

    &__title {
      @include font-title(22, 600);
      color: $black;
    }

    // .customers-header__sup-title

    &__sup-title {
      @include font-title(14, 400);
      color: #16c098;
      margin-top: 7px;
    }
  }
}

// .customers__table-block {
//   margin: 40px 0px 0px 0px;
// }

// .customers-table {
//   border-collapse: collapse;
//   width: 100%;
//   th,
//   tr {
//     border-bottom: 1px solid #eeeeee;
//   }
// }
// .customers-thead {
//   tr {
//     display: flex;
//     flex-direction: row;
//     border-bottom: none;
//     th {
//       width: 100%;
//       display: flex;
//       flex: 0 1 25%;
//       align-items: center;
//       justify-content: flex-end;
//       align-items: flex-end;
//       @include font-title(14, 500);
//       text-align: left;
//       color: #b5b7c0;
//       flex-direction: column;
//     }
//   }
// }
// .customers-tbody {
//   tr {
//     display: flex;
//     flex: 1 1 auto;
//     width: 100%;
//     gap: 38px;
//     & > * {
//       flex: 0 1 25%;
//     }
//     &:first-child {
//       margin-top: 20px;
//     }
//     padding-bottom: 20px;
//     margin-bottom: 20px;
//     &:last-child {
//       margin-bottom: 30px;
//     }
//   }

// }

.customers {
  overflow: hidden;
  // .customers__container

  &__container {
  }

  // .customers__table-block

  &__table-block {
  }
}
.customers-menu {
  // .customers-menu__header

  &__header {
  }
}
.customers-header {
  // .customers-header__title

  &__title {
  }

  // .customers-header__sup-title

  &__sup-title {
  }
}
.customers-search-block {
}
.customers-search-button {
}
.customers-search {
}
.customers-table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.customers-thead {
  position: relative;
  tr {
    margin-top: 40px;
    padding: 0px 0px 14px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @media (max-width: 769px) {
      grid-gap: 2%;
      margin-top: 20px;
      padding: 0px 0px 7px 0px;
    }
    @media (max-width: 480px) {
      grid-gap: 0.5%;
    }
    > * {
      @include font-title(14, 500);
      color: #b5b7c0;
      text-align: left;
    }
    > *:not(:last-child) {
    }
    > *:last-child {
      margin-left: 12px;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: -38px;
    border-bottom: 1px solid #eeeeee;
    width: 120%;
  }
}
.customers-tbody {
  tr {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 140px);
    padding: 20px 0px 20px 0px;
    @media (max-width: 769px) {
      grid-template-columns: repeat(6, 1fr);
      padding: 10px 0px 10px 0px;
    }
    @media (max-width: 480px) {
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #eeeeee;
      width: 100%;
    }
  }
}

.active button {
  padding: 4px 18px;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  color: #008767;
  @include font-title(14, 500);
  text-align: center;
}
.inactive button {
  background: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
  padding: 4px 12px;
  @include font-title(14, 500);
  text-align: center;
  color: #df0404;
}
.inactive {
}
