@import "./zeroing.css";
@import "./_mixins.scss";

body,
html {
  background: #fafbff;
  min-height: 100%;
}
.page {
  position: relative;
  display: flex;
  justify-content: start;
  min-height: 100%;
}
@include max767 {
  .menu-open {
    span {
      height: 0 !important;
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
        top: 5px !important;
      }
    }
    .page-aside {
      left: 0;
    }
  }
}
.page-aside {
  background: #ffffff;
  padding: 0px 28px;
  min-height: 100%;
  transition: all 0.3s ease 0s;
  @include max767 {
    z-index: 100;
    top: 0;
    left: -400px;
    position: absolute;
  }
}
.page-main {
  .main-text__hello {
  }
}
.main {
  padding-left: 71px;
  padding-top: 41px;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  min-height: 100%;
}

// Burger menu

.page {
  // .page__menu

  &__menu {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 36px;
    right: 28px;
    min-width: 16px;
    min-height: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:active {
      transition: all 0.3s ease 0s;
      opacity: 0.4;
      transform: scale(0.9);
    }
    @include max767 {
      display: block;
    }
  }
}
.menu {
  // .menu__icon

  &__icon {
    display: block;
  }
}
.icon {
  // .icon__menu

  &__menu {
    transition: all 0.2s ease-in-out 0s;
    &:active {
      transition: all 0.2s ease-in-out 0s;
      opacity: 0.4;
    }
    span {
      display: block;
      width: 22px;
      height: 2px;
      background-color: #000;
      &::after {
        content: "";
        display: block;
        width: 22px;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0;
        top: 5px;
        transition: all 0.3s;
      }
      &::before {
        content: "";
        display: block;
        width: 22px;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0;
        top: 10px;
        transition: all 0.3s;
      }
    }
  }
}
