@import "./zeroing.css";
@import "./_mixins.scss";

body,
html {
  background: #fafbff;
  min-height: 100%;
  font-size: 14px;
}
@media (max-width: 999px) {
  * {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  * {
    font-size: 0.7rem;
  }
}
.page-aside {
}

.page {
  position: relative;
  display: flex;
  justify-content: start;
  min-height: 100%;
}
@include max767 {
  .page {
    justify-content: center;
  }

  .menu-open {
    transition: all 0.3s ease 0s;
    span {
      height: 0 !important;
      &::after {
        transition: all 0.3s ease 0s;
        transform: rotate(45deg);
      }
      &::before {
        transition: all 0.3s ease 0s;
        transform: rotate(-45deg);
        top: 5px !important;
      }
    }
    .page-aside {
      left: 0;
    }
    .page__menu {
      span::before,
      span::after {
        background-color: #ffffff;
      }
    }
    &::before {
      content: "";
      z-index: 99;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
.page-aside {
  display: flex;
  justify-content: center;
  max-width: 306px;
  flex: 1 1 auto;
  background: #ffffff;
  padding: 0px 28px;
  min-height: 100%;
  transition: all 0.3s ease 0s;
  @include max767 {
    z-index: 100;
    top: 0;
    left: -400px;
    position: absolute;
    box-shadow: 1px 1px 13px 1px #ffffff;
  }
  @media (max-width: 1200px) {
    padding: 0px 14px;
  }
}
.page-main {
  .main-text__hello {
    @include font-title(24, 500);
    color: #000000;
  }
}
.main {
  padding: 41px 71px 0px 71px;
  @media (max-width: 1200px) {
    padding: 41px 14px 0px 14px;
  }
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  min-height: 100%;
}

// Burger menu

.page {
  // .page__menu

  &__menu {
    z-index: 100;
    display: none;
    position: fixed;
    top: 36px;
    right: 28px;
    min-width: 16px;
    min-height: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:active {
      transition: all 0.3s ease 0s;
      opacity: 0.4;
      transform: scale(0.9);
    }
    @include max767 {
      display: block;
    }
  }
}
.menu {
  // .menu__icon

  &__icon {
    display: block;
  }
}
.icon {
  // .icon__menu

  &__menu {
    transition: all 0.2s ease-in-out 0s;
    &:active {
      transition: all 0.2s ease-in-out 0s;
      opacity: 0.4;
    }
    span {
      display: block;
      width: 22px;
      height: 2px;
      background-color: #000;
      &::after {
        content: "";
        display: block;
        width: 22px;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0;
        top: 5px;
        transition: all 0.3s;
      }
      &::before {
        content: "";
        display: block;
        width: 22px;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0;
        top: 10px;
        transition: all 0.3s;
      }
    }
  }
}
