@import "@/app/__mixins.scss";
@import "@/app/__variables.scss";

.side-menu {
  padding-top: 37px;
  padding-bottom: 76px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 64px;
  height: 100%;
  // .side-menu__title
  &__title {
    display: flex;
    gap: 8px;
    justify-content: center;
    &::before {
      content: "";
      background: url("../../img/aside/icons/title-logo.svg") 0 0 no-repeat;
      min-width: 37px;
      min-height: 37px;
    }
  }

  // .side-menu__item
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    transition: all 0.3s ease 0s;
    padding: 0px 8px 0px 11px;
    @include hover-primary;
    &:hover img,
    &:hover .side-item__link::after,
    &:focus .side-item__link::after,
    &:focus img {
      @include side-link__active-transition;
    }
  }
  // .side-menu__list
  &__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 40px;
    max-width: 250px;
    .side-item__link {
      @include font-title(14, 500);
      width: 100%;
      min-height: 46px;
      justify-content: space-between;
      align-items: center;
      display: flex;

      &:after {
        content: "";
        background: url("../../img/aside/icons/chevron-right.svg") 0 0 no-repeat;
        min-width: 16px;
        min-height: 16px;
      }
    }
    .side-menu__home {
      .side-item__link {
        &::after {
          content: none;
        }
      }
    }
    .side-link__active {
      @include side-link__active;
      & img,
      .side-item__link::after {
        @include side-link__active-transition;
      }
    }
  }
}
.side-title {
  // .side-title__link

  &__link {
    display: flex;
    align-items: baseline;
    gap: 4px;
  }
}
.side-title-link {
  // .side-title-link__title

  &__title {
    @include font-title(26, 600);
    color: $black;
  }
  &__suptitle {
    @include font-title(10, 500);
  }
}

.side-menu {
  // .side-menu__user
  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__user {
    display: flex;
    gap: 12px;
    @include hover-primary;
  }
}
.side-user {
  // .side-user__image

  &__image {
  }

  // .side-user__name-block

  &__name-block {
  }
}
.user-name-block {
  // .user-name-block__name

  &__name {
  }

  // .user-name-block__role

  &__role {
  }
}
